<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Learn 2K</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/d7bea5425e.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="/css/styles.css" rel="stylesheet">
</head>

<body class ="showcase">

  <!-- Page Content -->
  <div class="container">
    <div class="row main-heading">
      <div class="col-lg-12 text-center">
        <h1 class="main-heading-text" id='LearnFont'>Learn2K</h1>
      </div>
    </div>
      
      <div class="row sub-heading mt-2">
          <div class="col-lg-12 text-center">
              <h1 style="color:honeydew; font-size:400%"><a href="homepage"><i="" class="fa fa-arrow-left" style="margin-right: 20px; color:honeydew"></a>Basic Defence</p>
          </div>
      </div>
      
      <div class="button-section">
          
          <div class="row mt-3">
              <div class="col-12">
                <div class="list-group">
                    <a href="placeholder.html" class="list-group-item list-group-item-action mb-1">Move Player</a>
                    <a href="placeholder.html" class="list-group-item list-group-item-action mb-1">Hands Up / Contest</a>
                    <a href="placeholder.html" class="list-group-item list-group-item-action mb-1">Intense D</a>
                    <a href="placeholder.html" class="list-group-item list-group-item-action mb-1">Sprint</a>
                    <a href="placeholder.html" class="list-group-item list-group-item-action mb-1">Defensive Strategies</a>
                    <a href="placeholder.html" class="list-group-item list-group-item-action mb-1">Icon Swap</a>
                    <a href="placeholder.html" class="list-group-item list-group-item-action mb-1">Player Swap</a>
                    <a href="placeholder.html" class="list-group-item list-group-item-action mb-1">Take Charge</a>
                    <a href="placeholder.html" class="list-group-item list-group-item-action mb-1">Steal</a>
                    <a href="placeholder.html" class="list-group-item list-group-item-action mb-1">Block / Rebound</a>
                    <a href="placeholder.html" class="list-group-item list-group-item-action mb-1">Gameplay HUD</a>
                    <a href="placeholder.html" class="list-group-item list-group-item-action mb-1">Points of Emphasis</a>
                    <a href="placeholder.html" class="list-group-item list-group-item-action mb-1">Defensive Sets</a>
                    <a href="placeholder.html" class="list-group-item list-group-item-action mb-1">Substitutions</a>
                    <a href="placeholder.html" class="list-group-item list-group-item-action mb-1">Intentional Foul</a>
                </div>
              </div>
          </div>
          
      </div>
      
      <footer id="sticky-footer" class="py-4 footer">
        <div class="container text-center">
          <div class="row">
              <div class="col-3">
                <a href="homepage" class="item"><i class="fa fa-user"></i></a>
                <span class="item-text">Home</span>
              </div>
              <div class="col-3">
                  <a href="#" class="active-item"><i class="fa fa-globe"></i></a>
                  <span class="active-item-text">Learn</span>
              </div>
              <div class="col-3">
                  <a href="faqPage.html" class="item"><i class="fa fa-question-circle"></i></a>
                  <span class="item-text">FAQ</span>
              </div>
              <div class="col-3">
                  <a href="placeholder.html" class="item"><i class="fa fa-users"></i></a>
                  <span class="item-text">Community</span>
              </div>
          </div>
        </div>
      </footer>
      
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="/jquery/jquery.slim.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>

</body>

</html>
