<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Learn 2K</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/d7bea5425e.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="/css/styles.css" rel="stylesheet">
</head>

<body class="showcase">

  <!-- Page Content -->
  <div class="container">
    <div class="row main-heading">
      <div class="col-lg-12 text-center">
        <h1 class="main-heading-text" id="LearnFont">Learn2K</h1>
      </div>
    </div>
      
      <div class="row sub-heading mt-2">
          <div class="col-lg-12 text-center">
              <h1 style="color:honeydew; font-size: 400%"><a href="basicoffense.html"><i="" class="fa fa-arrow-left" style="margin-right: 20px; color:honeydew"></a>Basic Offense</p>
          </div>
      </div>
      <h1 style ="text-align: center; color:honeydew;">Bounce Pass</h1>
      <div class="video-section">
          <div class="row mt-3">
              <div class="col-12">
                    <video width="150" controls>
                      <source src="/VideoImage/BouncePassVid.mp4" type="video/mp4">
                      Your browser does not support HTML5 video.
                    </video>
              </div>
          </div>
      </div>
      
      <div class="row mt-1">
          <div class="col-12 text-center">
              <img src="/VideoImage/controller.png" class="img-fluid controller-img" alt="Controller">
          </div>
      </div>
      
      <div class="row mt-1">
        <div class="col-12">
            <p style="color:honeydew">Point the left joystick to the play you wish to pass to and quickly tap the circle button on the controller</p>  
        </div>
      </div>

      <div class="row mt-1">
        <div class="col-12">
            <div class="completeBtn">
              <button type="button" style="color:papayawhip" class="btn btn-primary btn-complete" onclick="ChangeToCompleted('BouncePass')">Complete</button>
            </div>
        </div>
      </div>
      
      <footer id="sticky-footer" class="py-4 footer">
        <div class="container text-center">
          <div class="row">
              <div class="col-3">
                <a href="homepage" class="item"><i class="fa fa-user"></i></a>
                <span class="item-text">Home</span>
              </div>
              <div class="col-3">
                  <a href="#" class="active-item"><i class="fa fa-globe"></i></a>
                  <span class="active-item-text">Learn</span>
              </div>
              <div class="col-3">
                  <a href="faqPage.html" class="item"><i class="fa fa-question-circle"></i></a>
                  <span class="item-text">FAQ</span>
              </div>
              <div class="col-3">
                  <a href="placeholder.html" class="item"><i class="fa fa-users"></i></a>
                  <span class="item-text">Community</span>
              </div>
          </div>
        </div>
      </footer>
      
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="/jquery/jquery.slim.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  
  <script src="/js/script copy.js"></script>
  <script type="application/javascript">
    $(document).ready(function(){
        LoadCompletedButton("BouncePass");
    });
  </script>

</body>

</html>
